div#wrapper {
  grid-template-rows: 5rem auto auto 3rem;
  grid-template-columns: auto 12rem;
  grid-template-areas:
    "header social"
    "links links"
    "main main"
    "footer footer";
}

/*  ------------- NAV -------------  */
nav {
  height: auto;
  padding-left: $gutter;
  ul {
    display: grid;
    grid-template-columns: 9rem 9rem 9rem 9rem auto;
  }
  ul li {
    width: auto;
    border-bottom: none;
    border-left: 1px solid $primaryColor;
  }
  ul li:last-child {
    border-right: 1px solid $primaryColor;
  }
} // end nav
