/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ------------- BODY ------------- */
body {
  font-family: $defaultFont;
  font-size: 16px;
  font-weight: $normalWeight;
}

/*  ------------- HEADER -------------  */
header {
  background-color: $primaryColor;
  color: $secondaryColor;
  padding: 1rem $gutter;
  h1 {
    font-size: 2rem;
    font-weight: $normalWeight;
  } //end h1 rules

  h2 {
    font-size: 1.12rem;
    font-weight: $normalWeight;
  } //end h2 rules
} // end header

/*  ------------- NAV -------------  */
nav {
  @include gradient($secondaryColor,darken($secondaryColor,20));
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  ul {
    display: flex;
  }

  ul li {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    flex-basis: 25%;
  } // end li
  ul li:last-child {
    border-right: none;
  }
  ul li a {
    display: block;
    text-align: center;
    font-weight: $boldWeight;
    padding: 0.5rem 0;
    color: $primaryColor;
    text-decoration: none;
    transition: background 0.75s ease, color 0.75s ease;
  } // end anchors
  ul li.active a {
    background-color: darken($secondaryColor, 10%);
  } // end active
  ul li a:hover {
    color: $secondaryColor;
    background-color: $primaryColor;
  } // end hover
} // end nav

/*  ------------- MAIN -------------  */
main {
  display: block; // ie10 hack
  max-width: 60rem;
  margin: auto;
  h1 {
    font-size: 2rem;
    margin: 1.5rem 0 0.5rem 0;
    color: $primaryColor;
  } // end h1

  h2 {
    font-size: 1.5rem;
    margin: 0.75rem 0 0.5rem 0;
    color: lighten($primaryColor, 10%);
  } // end h2

  p {
    line-height: 130%;
  } // end p

  div.container1 {
    display: flex;
    display: -ms-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  div.container1 div {
    -ms-flexbasis: 100%;
    flex-basis: 100%;
    padding: 1rem $gutter;
    align-items: stretch;

    background-color: #eee;
    border: 1px solid #bbb;
  }

  div.container2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  div.container2 figure {
    -ms-flex: 46%;
    flex-basis: 50%;
    padding: 1rem $gutter;
    transition: transform 0.3s ease-in-out;
  }

  div.container2 figure img {
    width: 100%;
  }

  div.container2 figure:hover {
    transform: scale(1.05);
  }
} // end main

/*  ------------- FOOTER -------------  */
footer {
  width: 100%;
  background-color: $primaryColor;
  p {
    text-align: center;
    color: $secondaryColor;
    padding: 0.75rem 0;
    font-size: 0.9rem;
  } // end p

  p a {
    color: $secondaryColor;
  }
} // end footer

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
