main.album {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

main.artist {
  grid-template-columns: 1fr 1fr;
}

main.player {
  grid-template-columns: 50% 50px auto 50px;
  grid-template-rows: auto;

  grid-template-areas:
    "photo startTime time endTime"
    "photo title title title"
    "photo prev play next"
    "photo dn vol up";
}
